@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}
html{
    height: auto;
}
 body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     background-image: url("../imagenes/fondo_login.jpg");
     background-repeat: no-repeat;
     background-size:cover;
     background-position-y:55%;
}

/*Header: contiene el logo y una lista desplegable para cerrar la sesión del  trabajador*/

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f1f1e;
    opacity: 70%;
    position: sticky;
    top: 0;
}
img{
    width: 30px;
    height: 30px;
}
img#logo{
    width: 15%;
    height: auto;
    margin: 0.4% 0;
    margin-left: 1%;

}

/*Menu de la configuración del usuario que ha iniciado sesion.*/

#ajustes_usuario{
    width: 15%;
    position: absolute;
    height: 100%;
    right: 0;
}
#username img{

}
#ajustes_usuario > button{
    width: 100%;
    height: 100%;
    border: none;
    border-left: antiquewhite 3px solid;
    background-color: #1f1f1e;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    word-break: unset;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 20px;

}



#configuracion{
    width:100%;
    height: auto;
}
#configuracion div button{
    padding:12px 0;
    width: 100%;
    background-color: #1f1f1e;
    color: white;
    outline: none;
    display: flex;
    justify-content: center ;
    align-items: center;
    cursor: pointer;
}
#ajustes img{
    position: relative;
    left: -15%;
}
#cerrar_sesion button img{
    position: relative;
    left: -6%;
}


aside{
    width: 30%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*Div para que el menu desplegable se mueva de acurdeo al scroll realizado. Dentro del div sticky se encuentran los dos menus desplegables restantes*/

#sticky{
    width: 30%;
    position: fixed;
    top: 18%;
}
#menu_usuario{

    width: 50%;
    height: auto;
    opacity: 85%;
    z-index: 1;
    top: 20%;


}
#menu_aviso{
    margin: 0;
    width: 50%;
    height: auto;
    opacity: 85%;
    z-index: 1;

}
.desplegar, .desplegar2{
    background-image: url("../imagenes/flecha-derecha.png");
    background-position: 80%;
    background-size: 10%;
    background-repeat:no-repeat ;
    background-color: #1f1f1e;

    width: 100%;
    color: white;
    padding: 20px 0;
    cursor: pointer;
    text-align: left;
    outline: none;
}
.flecha_abajo{
    display: none;
}
.desplegar, .desplegar2, .desplegar3 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    font-weight: bolder;
}
.contenido, .contenido2, .opciones {
    width: 100%;
    height: auto;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.contenido div button, .contenido2 div button, .opciones div button  {
    width: 100%;
    color: black;
    padding: 17px 0;
    display: block;
    font-size: 1.2em;
    background-color: #3A3939;
    color: white;
    outline: none;
}
.contenido div button:focus, .contenido2 div button:focus {
    background-color: #383837;
    padding: 25px 2px;
}
.contenido div button:hover, .contenido2 div button:hover{
    text-decoration: underline;
    box-shadow:inset 3px 3px 5px black
}
.mostrar, .mostrar2, .mostrar3 {
    display:block;
}

/*Apartado en  el que se encuentran los bloques de avisos y creacion de usuarios. La mayoria de los elemtnos comparten atributos.*/

main{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 5%;

}
main > div{
    border: 2px solid black;
    margin-left: 5% ;
    width: 50%;
    height: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
    opacity: 70%;
    border-radius: 20px;
    display: none;


}
main > div >h1{
    width: 80%;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 3% 0;
}
main > div > div{
    margin: 0;
}



#tablonAnuncios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}


main div form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

}

#titulo, #fecha{
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    outline: none;
    border: none;
    background-color: ghostwhite;
    margin: 0;
    margin-bottom: 5%;
}
#fecha{
    text-align: right;
    padding-right: 10%;
    margin-bottom: 0;

}
#descripcion{
    width: 80%;
    overflow: hidden;
    min-height: 200px;
    height: auto;
    border: none;
    background-color: ghostwhite ;
    outline: none;

}
textarea{
    min-height: 200px;
    width: 80%;
}

main button{
    margin: 5% 0;
    border-radius: 100px;
    outline: none;
    background-color: #1f1f1e;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    width: auto;
    font-size: 1.2em;
    padding: 1% 5%;
}
main button:hover{
    background-color:#E294A2 ;
}
main button img{
    height: 30px;
}

main> div > div> form> input:hover,main> div > div> input:hover {
    background-color: #E294A2;
    border:2px solid black;
}
#anuncio input{
    margin: 0;
}
/* Codigo para la creacion de usuarios*/

div#nuevo_usu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nuevo_usu form{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
 input {
    width: 40%;
    border-radius: 10px;
    margin: 2% 0;
    margin-right: 10%;
    outline: none;
     text-align: center;
}

 label{
    width: 30%;
    text-align: center;
    font-size: 1.2em;
    margin-left: 10%;
}

 /*Codigo para el borrado de usuarios.*/
div#borrar_user, div#borrar_avi{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#borrar_user input{
width: 35%;
}
#buscar_usu, #mod_usu{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
#buscar_usu label{
    width: 40%;
    margin-left: 0;
}
#crear_aviso label{
    margin-left: 0;
}
#label_descripcion{
    width: 80%;
    margin-left: 0;
}
#desc{
    width: 80%;
    min-height: 200px;
    overflow: hidden;
}
div#buscar_anuncio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
div#modify_aviso{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;
}
div#lista_usuarios{
    padding-bottom: 5%;
}

#mod_usu{
    display: none;
}









