*{
    margin: 0;
    padding: 0;
}
html{
    height: auto;
}
 body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Header: contiene el logo y una lista desplegable para cerrar la sesión del  trabajador*/
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f1f1e;
}
img#logo{
    width: 15%;
    height: auto;
}
#ajustes_usuario{
    width: 10%;
}
#ajustes_usuario > button{
    width: 100%;
    height: 100%;
    border: none;
    border-left: antiquewhite 3px solid;
    background-color: #1f1f1e;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}
#configuracion{
    width:10%;
    height: auto;
    position: absolute;
}
#configuracion div button{
    padding:12px 0;
    width: 100%;
    background-color: #1f1f1e;
    color: white;
    font-size: 1.2em;
}


aside{
    width: 30%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
div#menu_usuario, #menu_aviso{
    width: 50%;
    height: auto;
}
#menu_aviso{
    margin: 0;
}

.desplegar, .desplegar2{
    background-color: #1f1f1e;
    width: 100%;
    color: white;
    padding: 20px 0;
    cursor: pointer;
    text-align: left;
}
 .desplegar:focus {

}
.desplegar2:hover, .desplegar2:focus {

}

.desplegar, .desplegar2, .desplegar3 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}


.contenido, .contenido2, .opciones {
    width: 100%;
    height: auto;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.contenido div button, .contenido2 div button, .opciones div button  {
    width: 100%;
    color: black;
    padding: 17px 0;
    display: block;
    font-size: 1.2em;
    background-color: #3A3939;
    color: white;
}


.contenido div button:focus, .contenido2 div button:focus {
    background-color: #383837;
    padding: 25px 2px;
}
.contenido div button:hover, .contenido2 div button:hover{
    text-decoration: underline;
    box-shadow:inset 3px 3px 5px black
}

.mostrar, .mostrar2, .mostrar3 {
    display:block;
}


main{
    width: 70%;
    display: flex;
    flex-direction: column;
}







